/* BARRA DE PESQUISA */

.barra-pesquisa {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 25px 8%;

    background: #0b0b0b;
    border-bottom: 1px solid #222;

    display: none;
    align-items: center;
    gap: 15px;

    z-index: 9999;
    box-sizing: border-box;
}

.barra-pesquisa.ativa {
    display: flex;
}

.barra-pesquisa input {
    flex: 1;

    padding: 15px 18px;

    background: #111;
    color: white;

    border: 1px solid #333;
    border-radius: 6px;

    outline: none;
    font-size: 14px;
}

.barra-pesquisa input:focus {
    border-color: red;
}

.barra-pesquisa button {
    width: 45px;
    height: 45px;

    background: transparent;
    color: white;

    border: 1px solid #333;
    border-radius: 6px;

    cursor: pointer;
}

.barra-pesquisa button:hover {
    color: red;
    border-color: red;
}