@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.container-cadastro h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 55px;
    color: white;
    letter-spacing: 4px;
    margin: 0;
}

.slogan {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    margin: -10px 0 10px;
}

.container-cadastro input[type="text"],
.container-cadastro input[type="email"],
.container-cadastro input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

.container-cadastro button {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.login-texto {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*CORPO DO SITE*/
body {
    background: #000;
    color: #fff;
    padding-top: 80px;
}

/*CABEÇA DO SITE*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/*TODOS OS ICONES*/
.icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

/*LOGO DRIPT PRINCIPAL TOPO DO SITE*/
.logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    text-decoration: none;
}

/*DESIGN DO PASSAR DO CURSOR*/
.logo:hover {
    color: red;
    transition: 0.3s;
}


.carrinho {
    font-size: 22px;
    text-decoration: none;
    color: white;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    min-height: 90vh;
    background: #000;
    gap: 100px;
    position: relative;
    overflow: hidden;
}

.hero-text {
    flex: 0 0 45%;
}

.hero-text h1 {
    font-size: 70px;
    line-height: 1;
    color: #fff;
    margin: 20px 0;
}

.hero-text p {
    color: #cfcfcf;
    font-size: 18px;
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.limited {
    display: inline-block;
    background: #e60000;
    color: #fff;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-produto {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-produto img {
    width: 520px;
    max-width: 100%;
    position: relative;
    z-index: 2;
    transition: transform .4s ease;
    filter: drop-shadow(0 20px 40px rgba(0, 0, 0, .8));
}

.hero-produto img:hover {
    transform: scale(1.05);
}


.hero button {
    background: #e60000;
    color: #fff;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: .3s;
}

.hero button:hover {
    background: #fff;
    color: #000;
    transform: translateY(-3px);
}

/*CARD DOD PRODUTO*/
.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}

.produto {
    background: #111;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #222;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.15);
    transition: 0.3s;
    position: relative;
}


.produto button {
    background: #000;
    color: white;
    border: 2px solid red;
    padding: 12px 25px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.produto button:hover {
    background: red;
    color: black;
    box-shadow: 0 0 20px red;
    transform: scale(1.05);
}

.produto p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.produto:hover img {
    transform: scale(1.08);
}

.produto img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    margin-top: 30px;
    transition: .4s;
}

.tag-produto {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;

    background: red;
    color: white;

    padding: 6px 12px;

    border-radius: 6px;

    font-size: 12px;

    font-weight: bold;

    box-shadow: 0 0 10px red;
}

/*CARD DO PRODUTO*/
.card {
    background: #111;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #222;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.15);
    transition: all 0.3s ease;
    width: 280px;
    min-height: 350px;
    padding: 30px;
}

/*CUSOR*/
.card:hover {
    transform: translateY(-8px);
    border-color: red;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}

/*BOTÃO DO CARD NOS PRODUTOS*/
.card button {
    background: red;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease;
}


.card button:hover {
    background: #cc0000;
    transform: scale(1.03);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-box {
    width: 500px;
    max-width: 90%;
    background: #111;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid red;
    color: white;
    position: relative;
}

.overlay-box h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.overlay-box p {
    color: #ccc;
    margin-bottom: 25px;
    line-height: 1.6;
}

.overlay-box button {
    background: red;
    color: white;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.overlay-box button:hover {
    transform: scale(1.05);
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}



.top-bar {
    background: #111;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    color: white;
}

.top-bar span {
    color: red;
}

/*TOPO DO MENU*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1400px;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    border: 1px solid #222;
    border-radius: 20px;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color: red;
    text-shadow: 0 0 10px red;
}

.icons {
    display: flex;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h2 {
    color: red;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

/*TAMANHO DO TITULO*/
.hero-text h1 {
    font-size: 70px;
    line-height: 1;
    margin-bottom: 20px;
}

/*PARAGRAFO DO TEXTO*/
.hero-text p {
    color: #aaa;
    margin-bottom: 30px;
    font-size: 18px;
}

/*BOTÃO DA IMAGEM DO TOPO DO SITE*/
.hero-text button {
    background: red;
    color: white;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/*DESIGN DA IMAGEM DO TOP*/
.hero-image {
    flex: 1;
    height: 500px;
    background: #111;
    border-radius: 15px;
    overflow: hidden;
}

/*IMAGEM NO TOP DO SITE*/
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*ICONE DO CARRINHO*/
.carrinho-icon {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

/*CONTADOR NO CARRINHO*/
#contador {
    position: absolute;
    top: -10px;
    right: -12px;
    background: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*BARRA DE PESQUISA*/
.search-box {
    display: none;
    margin-top: 20px;
}

/*DIGITAÇÃO NA BARRA DE PESQUISA*/
.search-box input {
    width: 250px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/*RODAPÉ*/
.footer {
    background: #0a0a0a;
    padding: 70px 10%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
    margin-top: 80px;
    border-top: 1px solid #222;
}

.footer-logo h2 {
    color: #fff;
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.footer-logo p {
    color: #777;
    font-size: 14px;
}

.footer h3 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer p,
.footer a {
    color: #888;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    transition: .3s;
}

.footer a:hover {
    color: red;
    transform: translateX(4px);
}

/*FORMATAÇÃO NO MOBILE*/
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }


    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-produto {
        width: 100%;
    }

    .hero-produto img {
        width: 100%;
        max-width: 350px;
    }


    .produtos {
        grid-template-columns: 1fr;
    }


    .footer {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }

}

.carrinho-lateral {
    width: 100%;
    max-width: 100%;
}

.item-carrinho {
    padding: 15px;
}

.item-carrinho img {
    width: 60px;
    height: 60px;
}

.categorias {
    gap: 20px;
    margin: 40px 20px;
}

.categoria-btn {
    font-size: 14px;
    letter-spacing: 1px;
}

.acoes {
    width: 100%;
}

.btn-comprar,
.btn-carrinho {
    width: 100%;
}

.pagina-produto {
    max-width: 1300px;
    margin: 70px auto;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 70px;
}

.produto-imagem {
    flex: 1;
    max-width: 600px;
}

.produto-info {
    flex: 1;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produto {
    transition: 0.3s;
}

.produto:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}

.produto img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
    transition: 0.3s;
}

.produto img:hover {
    transform: scale(1.05);
}

button {
    transition: 0.3s;
}

button:hover {
    background: white;
    color: red;
}

.link-produto {
    text-decoration: none;
    color: white;
}

.pagina-produto {
    max-width: 1300px;
    margin: 70px auto;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 70px;
}

.produto-imagem {
    flex: 1;
}

.produto-info {
    flex: 1;
    max-width: 500px;
}

.produto-imagem img {
    width: 100%;
    max-height: 700px;
    object-fit: contain;
    border-radius: 15px;
    transition: .4s ease;
}

.produto-imagem img:hover {
    transform: scale(1.03);
}

.produto-info {

    flex: 1;

    max-width: 500px;

    display: flex;

    flex-direction: column;

    gap: 20px;

}

.produto-info h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.preco {
    color: red;
    font-size: 30px;
    margin-bottom: 20px;
}

.descricao {
    color: #ccc;
    margin-bottom: 30px;
    line-height: 1.6;
}

.produto-info>button {
    background: red;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.produto a {
    text-decoration: none;
    color: white;
}

/*TAMANHOS NO CARD EX: P,M,G,GG*/
.tamanhos {
    margin: 30px 0;
}

.opcoes-tamanho {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.opcoes-tamanho button {
    width: 55px;
    height: 55px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    border: 2px solid #333;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.opcoes-tamanho button:hover {
    border-color: red;
    transform: translateY(-3px);
}

.opcoes-tamanho button.ativo {
    background-color: red;
    border-color: red;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 25px 0;
}

.quantidade button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #111;
    border: 2px solid red;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;

}

.quantidade button:hover {
    background: red;
    transform: scale(1.1);
}

.quantidade span {
    font-size: 24px;
    font-weight: bold;
    color: white;
    min-width: 30px;
    text-align: center;
}

#qtd {
    font-size: 22px;
    min-width: 20px;
    text-align: center;
}

/*OPÇÕES DE TAMANHO*/
.opcoes-tamanho {
    display: flex;
    gap: 15px;
}

/*DESIGN DO CARRINHO*/
.carrinho-lateral {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100vh;
    background: #111;
    padding: 20px;
    transition: 0.4s;
    z-index: 999;
    overflow-y: auto;
}

.carrinho-lateral.ativo {
    right: 0;
}

.topo-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: white;
}

.topo-carrinho span {
    cursor: pointer;
    font-size: 25px;
}

.icone-carrinho {
    position: relative;
    display: flex;
    align-items: center;
}

.item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    color: white;
    transition: 0.3s;
}

.item-carrinho:hover {
    transform: translateY(-3px);
    background: #222;
}

.item-carrinho h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

/*TITULO DO ITEM DO CARRINHO*/
.item-carrinho p {
    color: orange;
    font-weight: bold;
}

.rodape-carrinho {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.rodape-carrinho h3 {
    color: white;
    margin-bottom: 20px;
}

/*BOTÃO DO RODAPÉ DO CARRINHO*/
.rodape-carrinho button {
    width: 100%;
    padding: 15px;
    border: none;
    background: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

/*RODAPÉ DO CARRINHO*/
.rodape-carrinho button:hover {
    background: white;
    color: red;
}

/*BOTÃO DE REMOVER ITEM DO CARRINHO*/
.btn-remover {
    background: transparent;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

/*DESIGN DE REMOVER ITEM DO CARRINHO*/
.btn-remover:hover {
    transform: scale(1.2);
}

/*BOTÃO DE LIMPAR TUDO NO CARRINHO*/
.btn-limpar {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.sobre {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    color: white;
}

.sobre h1 {
    text-align: center;
    color: red;
    font-size: 3rem;
    margin-bottom: 30px;
}

.sobre h2 {
    margin-top: 25px;
    color: red;
}

.sobre p {
    line-height: 1.8;
    color: #ddd;
}

/*DESIGN DO BOTAO DE FAVORITAR*/
.favorito {
    background: transparent;
    border: none;
    font-size: 11px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s;
    padding: 5px;
}

/*BOTÃO FAVORITAR CARD*/
.favoritado {
    transform: scale(1.2);
}

.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.filtros button {
    background: #111;
    color: white;
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.filtros button:hover {
    background: red;
    transform: translateY(-2px);
}

.produto {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.produto.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.produto {
    position: relative;
    overflow: hidden;
}

.produto::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.20), transparent 70%);
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}

.produto:hover::before {
    opacity: 1;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

#loader.ocultar {
    opacity: 0;
    visibility: hidden;
}

#loader h1 {
    color: white;
    font-size: 70px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    animation: aparecer 1s ease;
}

#loader p {
    color: red;
    letter-spacing: 5px;
    margin-bottom: 40px;
    animation: aparecer 1.5s ease;
}

.loader-bar {
    width: 250px;
    height: 5px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
}

.loader-fill {
    width: 0%;
    height: 100%;
    background: red;
    animation: carregar 2s forwards;
}

@keyframes carregar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pagina-produto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    max-width: 1300px;
    margin: 80px auto;
    padding: 40px;
}

.produto-imagem {
    flex: 1;
    text-align: center;
}

.produto-imagem img {
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
    transition: .4s;
}

.produto-imagem img:hover {
    transform: scale(1.04);
}

.produto-info {
    flex: 1;
}

.tag {
    background: red;
    color: white;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
}

.produto-info h1 {
    margin-top: 20px;
    font-size: 45px;
}

.avaliacao {
    margin: 15px 0;
    color: gold;
    font-size: 20px;
}

.preco {
    font-size: 38px;
    color: red;
    font-weight: bold;
    margin: 20px 0;
}

.descricao {
    color: #bfbfbf;
    line-height: 28px;
}

.beneficios {
    margin-top: 30px;
}

.beneficios p {
    margin: 12px 0;
    color: #ddd;
}

.acoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;
}

.btn-comprar,
.btn-carrinho {
    width: 100%;
    padding: 18px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.btn-comprar {
    background: linear-gradient(135deg, #ff0000, #8b0000);
    color: white;
    border: none;
    box-shadow: 0 10px 25px rgba(255, 0, 0, .25);
}

.btn-comprar:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(255, 0, 0, .45);
}

.btn-carrinho {
    background: transparent;
    color: white;
    border: 2px solid red;
}

.btn-carrinho:hover {
    background: red;
    transform: translateY(-4px);
}

.btn-comprar,
.btn-carrinho {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* TÍTULO DO PRODUTO */

.titulo-produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-favorito {
    width: 48px;
    height: 48px;
    border: 2px solid #333;
    border-radius: 50%;
    background: #111;
    color: #fff;
    font-size: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .3s;

    flex-shrink: 0;
}

.btn-favorito:hover {
    border-color: red;
    transform: scale(1.1);
}

.btn-favorito.ativo {
    background: transparent;
    border-color: red;
    color: red;
    box-shadow: 0 0 15px rgba(255, 0, 0, .5);
}

.acoes-produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 15px;
}

.acoes-produto a {
    flex: 1;
}

.acoes-produto .btn-comprar {
    width: 100%;
}

/* BOTÕES DOS CARDS */

.produto .acoes-produto {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.produto .acoes-produto a {
    flex: 1;
}

.produto .acoes-produto .btn-comprar {
    width: 100%;
    padding: 12px;
}

.produto .acoes-produto .btn-favorito {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.sem-imagem {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #161616;
    border: 1px dashed #444;
    border-radius: 10px;
    color: #666;
    font-size: 13px;
    text-align: center;
}

.produto-imagem .sem-imagem {
    height: 400px;
    font-size: 16px;
}

.favoritos {
    padding: 40px;
}

.favoritos h1 {
    text-align: center;
    margin-bottom: 40px;
}

#lista-favoritos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.brilho {
    position: absolute;
    width: 420px;
    height: 420px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.45), transparent 70%);
    border-radius: 50%;
    filter: blur(20px);
    z-index: 1;
}

.hero-produto img {
    animation: flutuar 4s ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.hero::before {
    content: "DRIPT";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 220px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.03);
    letter-spacing: 20px;
    pointer-events: none;
    z-index: 0;
    user-select: none;
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 70px 0 50px;
    flex-wrap: wrap;
}

.categoria-btn {
    background: transparent;
    border: none;
    color: #777;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    padding: 8px 0;
}

.categoria-btn:hover {
    color: #fff;
}

.categoria-btn.ativo {
    color: #fff;
}

.categoria-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 0;
    height: 3px;
    background: #e60000;
    border-radius: 50px;
    transform: translateX(-50%);
    transition: width .3s ease;
}

.categoria-btn:hover::after,
.categoria-btn.ativo::after {
    width: 100%;
}

.titulo-categorias {
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 70px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.nome-produto {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 20px;
    transition: .3s;
}

.produto:hover .nome-produto {
    color: #e60000;
}

.btn-comprar {
    background: #e60000;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 6px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.btn-comprar:hover {
    background: white;
    color: black;
    transform: translateY(-3px);
}

.produto-info .preco {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 1px;
}

.produto-info .descricao {
    color: #aaa;
    font-size: 16px;
    line-height: 1.7;
}

.relacionados {
    margin: 80px auto;
    padding: 40px;
}

.relacionados h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#grid-relacionados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

#grid-relacionados .produto {
    padding: 20px;
}

#grid-relacionados .produto img {
    height: 250px;
}

.item-carrinho img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 8px;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .produtos {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

/* WHATSAPP FLUTUANTE */

.whatsapp-flutuante {
    position: fixed;
    right: 25px;
    bottom: 25px;

    width: 60px;
    height: 60px;

    background: #25D366;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 28px;

    z-index: 9999;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);

    transition: 0.3s;
}

.whatsapp-flutuante:hover {
    transform: scale(1.1);
}

.whatsapp-flutuante svg {
    width: 32px;
    height: 32px;
    fill: white;
}

/* DIFERENCIAIS */

.diferenciais {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 70px 8%;
    background: #080808;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.diferencial {
    text-align: center;
    padding: 30px 20px;
    transition: .3s;
}

.diferencial:hover {
    transform: translateY(-5px);
}

.diferencial span {
    display: block;
    font-size: 35px;
    margin-bottom: 20px;
}

.diferencial h3 {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}

.diferencial p {
    color: #888;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

/* =========================
   CADASTRO
========================= */

.pagina-cadastro {
    min-height: 100vh;
    margin: 0;
    background: #050505;
    color: #fff;
}

.cadastro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    position: relative;
}

.cadastro-logo {
    position: absolute;
    top: 35px;
    left: 50px;

    color: #fff;
    text-decoration: none;

    font-size: 32px;
    font-weight: 900;
    letter-spacing: 6px;

    transition: .3s;
}

.cadastro-logo:hover {
    color: red;
}


.cadastro-box {
    width: 100%;
    max-width: 460px;
}

.cadastro-topo {
    margin-bottom: 35px;
}

.cadastro-topo span {
    color: red;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
}

.cadastro-topo h1 {
    margin: 12px 0;
    font-size: 42px;
    line-height: 1;
    letter-spacing: -1px;
}

.cadastro-topo p {
    color: #777;
    font-size: 14px;
    line-height: 1.6;
    max-width: 380px;
}

/* CAMPOS */

.campo {
    margin-bottom: 22px;
}

.campo label {
    display: block;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 9px;
}

.campo input {
    width: 100%;
    box-sizing: border-box;

    padding: 16px;

    background: #0d0d0d;
    color: #fff;

    border: 1px solid #292929;
    border-radius: 6px;

    outline: none;

    font-size: 14px;

    transition: .3s;
}

.campo input::placeholder {
    color: #555;
}

.campo input:focus {
    border-color: red;
    box-shadow: 0 0 0 1px red;
}

/* TERMOS */

.termos {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #777;
    font-size: 12px;

    margin: 5px 0 25px;
    cursor: pointer;
}

.termos input {
    accent-color: red;
}

/* BOTÃO */

.btn-cadastro {
    width: 100%;
    padding: 17px;

    border: none;
    border-radius: 6px;

    background: red;
    color: #fff;

    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;

    cursor: pointer;

    transition: .3s;
}

.btn-cadastro:hover {
    background: #d00000;
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(255, 0, 0, .2);
}

/* LOGIN */

.cadastro-login {
    display: flex;
    justify-content: center;
    gap: 6px;

    margin-top: 28px;

    font-size: 13px;
    color: #666;
}

.cadastro-login a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.cadastro-login a:hover {
    color: red;
}

/* PRIVACIDADE */

.cadastro-privacidade {
    text-align: center;

    margin-top: 25px;

    color: #444;
    font-size: 11px;
}

.cadastro-logo span {
    color: red;
}

.conta-box {
    width: 100%;
    max-width: 600px;
}

.conta-opcoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.conta-item {
    display: flex;
    align-items: center;
    gap: 18px;

    padding: 20px;

    background: #0d0d0d;
    border: 1px solid #222;
    border-radius: 8px;

    color: #fff;
    text-decoration: none;

    transition: .3s;
}

.conta-item:hover {
    border-color: red;
    transform: translateX(5px);
    background: #111;
}

.conta-item>span {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #333;
    border-radius: 50%;

    font-size: 20px;
}

.conta-item h3 {
    margin: 0 0 5px;
    font-size: 15px;
}

.conta-item p {
    margin: 0;
    color: #666;
    font-size: 12px;
}

.btn-sair {
    width: 100%;
    margin-top: 25px;
    padding: 15px;

    background: transparent;
    color: #777;

    border: 1px solid #333;
    border-radius: 6px;

    font-weight: bold;
    letter-spacing: 1.5px;

    cursor: pointer;
    transition: .3s;
}

.btn-sair:hover {
    color: red;
    border-color: red;
}